body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

.row-1-orders, .row-2-orders, .row-3-orders{
	background-color: rgba(224, 224, 224, 1);
}

.row-4-orders, .row-5-orders{
	background-color: rgba(204, 255, 204, 1);
}

